body {
	background-image: url(../images/light.gif);
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.lahat{
	margin: 10px 50px 10px 50px;
}
.HOME {
	margin-bottom: 10px;
	background:  #B0DFE5;
	padding: 120px;
	padding-bottom: 200px;
	box-shadow: 0 0 9 0px #4F97A3;
	background-image: url(../images/building.jpg);
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 20px #B0DFE5;
}
.HOME h1 {
	text-align: center;
	color: white;
	font-size: 100px;
	padding-top: 0px;
	font-family: 'Anton', sans-serif;
}
.HOME p {
	color:#EE6A22;
	font-weight: bold;
	font-size:30px;
}
	

.pi {

	margin: 10px 10px 10px 5px;
	padding: 50px 200px 800px 200px; 
	box-shadow: 0 0 60px #B0DFE5;
	font: 40px;
	background-image: url(../images/pic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(10%);
} 
.pi h1{
	text-align:center;
	color:white;
	font-size:40px;
	padding-top: 0px;
	font-family: 'Anton', sans-serif;
	
}	
.pi p{
	text-align:center;
	color: white;
}

.parallax {
	background-image: url(../images/table.jpg);
    min-height: 350px; 
	opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
	text-decoration: none;
}


.sw {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	margin-bottom: 10px;
	box-shadow: 0 0 20px #B0DFE5;
	text-align:center;
	background:#588BAE;
	
}
.sw h1{
	text-align:center;
	font-size: 70px;
	color:white;
	padding-top: 0px;
	font-family: 'Anton', sans-serif;
}
.sw h3 {
	font-family: 'Source Serif Pro', serif;
}

.work, .work1 {
	padding: 10px;
	background: #D18237;
	box-shadow: 0 0 20px #B0DFE5;
	display:grid;
	grid-template-columns: 1fr;

	
}
.work1{
	line-height: 1px;
	background: #D66C44
	
}
.we {
	display: grid;
	grid-gap: 20px;
	grid-template-columns:1fr;
	margin-bottom: 10px;
	box-shadow: 0 0 20px #B0DFE5;
	text-align:center;
	
}
.we h1{
	font-family: 'Anton', sans-serif;
	font-size: 70px;
}
.we h3{
	font-family: 'Source Serif Pro', serif;
}
.we h4{
	font-family: 'Source Serif Pro', serif;
}

.ftr{
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 5px;
}
.ftr h1{
	font-family: 'Anton', sans-serif;
	font-size: 70px;
}
.ftr h3{
	font-family: 'Source Serif Pro', serif;
}
.ftr h5{
	font-family: 'Source Serif Pro', serif;
}

.footer {
	padding: 10px;
	background: #EDBC7A;
	margin-bottom: 50px;
	box-shadow: 0 0 20px #B0DFE5;
}	
.contacts {
	padding: 10px;
	background: #FD9735;
	margin-bottom: 50px;
	box-shadow: 0 0 20px #B0DFE5;
}	
.contacts h3{
	font-family: 'Source Serif Pro', serif;
}
.contacts h5{
	font-family: 'Source Serif Pro', serif;
}
.school2 h3 {
	font-size: 50px;
}
.school{
	background: #877D7C;
	padding:20px;
	color:white;
	box-shadow: 0 0 20px #B0DFE5;
	margin-bottom:5px;
}
.school h3 {
	font-family: 'Anton', sans-serif;
	font-size: 70px;
}

.school2 h4 {
		font-family: 'Source Serif Pro', serif;
		font-size: 40px;
}
.school2 p {
		font-family: 'Source Serif Pro', serif;
		font-size: 20px;
}
	
.school2 {
	padding:50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
	background: #FB7552;
	box-shadow: 0 0 20px #B0DFE5;
	margin-bottom: 10px;
}
.book {
	background-image: url(../images/book.jpg);
    min-height: 400px; 
	opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ftr h1{
	font-family: 'Anton', sans-serif;
	font-size: 70px;
}